
.w50{
    width: 50%;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
    
#navegacion ul{
    display: none;
}


#navegacion{
    text-align:center;
}

#navegacion .hamburger{
    width: 40px;
    height: 40px;
    background-color: #0044AA;
    color: white;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    margin: 20px 0;
}

#navegacion .hamburger:hover{
    background-color: #0022AA;
    cursor: pointer;
}

#navegacion:hover ul{
    display: block;
    list-style: none;
    text-align: center;
    padding: 0;
}

.banner{
    width: 100%;
    display: block;
}

header{
    background-color: #EAC926;
}

header a{
    text-decoration: none;
    color: #03264c;
}

.light-blue{
    color: #1259c3
}
.green{
    color: #39B54A
}

p{
    font-size: 12px;
}

h2{
    font-size: 24px;
    color: #666;
    background-color: #ebebeb;
    margin: 20px 0;
}

#main-index{
    margin: 0;
    padding: 0;
    align: center;
    width: 90%;
    padding: 0 15px;
}


#price{
    font-size: 18px;
}

#discount{
    font-size: 16px;
    color: #39B54A;
}

h3{
    font-size: 16px;
}

input,
form,
button{
    font-size: 40px;
}
